# Core IIAE Dependencies
numpy
pandas
python-dotenv

# Demo & UI Dependencies
# Add Token https://huggingface.co/ HF_TOKEN in .env file to download testing models if required for Demo, Tests or Examples
streamlit
PyPDF2

# Integration Examples & Tests (Optional Semantic/MAO Features)
sentence-transformers
transformers
torch
scikit-learn
sentencepiece
pytest
